<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "/static/css/mk1.css">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<style >
		#submission {
  text-align: center;
  }
	</style>
</head>


<body>

<form method = "post" action = "/outesc">
<fieldset>
  <legend> Electronic Speed Controller ESC :</legend>
   <h1>max Current in Amp<input type="text" required="" name='maxcc'></h1><br>
  <h1> Min Weight   [g] <input type="text" required="required" name='weight1'></h1><br>
  <h1> max Weight   [g] <input type="text" required="required" name='weight2'></h1><br>

  <p id="submission"><input type="submit" value="Submit"></p>
 </fieldset>
</form>
</body>
</html>