<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "/static/css/mk1.css">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<style >
		#submission {
  text-align: center;
  }
	</style>
</head>


<body>

<form method = "post" action = "/outprop">
<fieldset>
  <legend>Prop</legend>
  <h1>Diameter in inch: <input type="text" required="required" name='dia'></h1><br>
   <h1>No of blades: <input type="text" required="" name='nof'></h1><br>
  <h1>Gear Ratio: <input value="1" required="" type="text" name='gear'></h1><br>
  <h1>Pitch in inch <input type="text" required="required" name='pitch'></h1><br>
  <p id="submission"><input type="submit" value="Submit"></p>
 </fieldset>
</form>
</body>
</html>