body{
    margin: 0;
    padding: 0;
    background: url(back5.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: cursive;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: lightgreen;
}
li{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
    color: yellow;
}


strong{
    font-size: 18px;
    color: lightgreen;
}
p
{
    color: red;

}
a:hover
{
    color: red;
}
